body {
  width: 100vw;
  height: 100vh;
  border: 1px solid black;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

header {
  width: 100vw;
  height: 5vw;
  border: 1px solid black;

  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.titulo {
  width: 70vw;
  border: 1px solid black;

  display: flex;

  justify-items: flex-start;

  padding-left: 1.5%;
  align-items: center;

  background-color: brown;
}

a {
  text-decoration: none;
  color: black;
}

.link {
  width: 30vw;
  border: 1px solid black;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background: yellowgreen;
}

.item {
  border: 1px solid black;
}

.titulo:hover {
  font-size: large;
}
