body {
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 10vh;
  border: 1px solid black;

  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.titulo {
  width: 70vw;
  font-size: 30px;
  font-weight: bold;

  display: flex;

  justify-items: flex-start;

  padding-left: 1.5%;
  align-items: center;

  background-color: brown;
}

.titulo h1:hover {
  font-size: 35px;
  color: black;
  font-weight: bold;
}
.link {
  width: 30vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
  background: palevioletred;
  font-weight: bold;
}

.item {
}

a {
  text-decoration: none;
  color: black;
}

.item a:hover {
  color: gold;
  font-size: 22px;
  font-weight: bold;
}

main {
  padding: 0;
  margin: 0;
  background: rgb(30, 210, 60);
}

.conteudo {
  display: flex;
  width: 100%;
  height: 85%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

h3 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
}

.conteudo li {
  padding-top: 1%;
  width: 20%;
  height: 40vh;
}

h4 {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

img {
  padding: 2% 30%;
  width: 70%;
  height: 70%;
}

.copyright {
  width: 100%;
  height: 10vh;
  margin: 0;
  background: url("bg.jpg");
}

.copyright p {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2%;
  font-size: auto;
  color: white;
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }

  .titulo {
    width: 100%;
    font-size: 20px;
    height: 10%;
    display: flex;
    justify-content: center;
  }

  .link {
    width: 100%;
  }

  .conteudo {
    display: flex;
    width: 100vw;
    height: 85%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10% 5%;
  }

  h3 {
    font-size: 18px;
    padding-bottom: 1%;
    padding-top: 1%;
  }

  .conteudo li {
    width: 80%;
    height: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }

  img {
    width: 70%;
  }

  .copyright {
    width: 100%;
    height: 10vh;
  }

  .copyright p {
    padding: 20px 0;
  }
}
